<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pizzeria Amore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
  </head>
  <body>
    <header id="first">
        <div class="header-content">
            <div class="inner">
                <h1 class="cursive">Pizzeria Amore</h1>
                <h4>Pizzeria de tus sueños</h4>
                <hr>
            </div>
        </div>
        
    </header>
   
    <section id="two">
        <div class="container-fluid welcome section-container">
            <div class="row">
                <div class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-12 welcome-text">
                    <h3>Bienvenidos a</h3>
                    <span class="header-text">Pizzeria amore</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mattis quam at laoreet porta. Ut suscipit erat libero, ut tincidunt mauris lacinia vel. Aliquam ultrices dolor sit amet neque faucibus vehicula. Vivamus laoreet lorem lacus, a maximus nunc dictum a. Phasellus felis turpis, elementum nec justo id, imperdiet malesuada erat.</p>
                </div>
            <div class="col-md-5 col-sm-5 col-xs-12 welcome-image">
                <div class="col-md-6 col-sm-12 col-xs-6 pull-left"> <%=image_tag("welcome1.png")%></div>
                <div class="col-md-6 pull-left col-xs-6 welcome2"> <%=image_tag("welcome2.png")%> </div>
            </div>
            </div>
        </div>
    </section>
  </body>
</html>
